* {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  font-size: 24px;
  background-color: lightblue;
}
body {
  margin: 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.wrapper {
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.example {
  width: 400px;
  height: 200px;
  padding: 20px 10px;
  text-align: center;
}

/* Первый блок */

.text1 {
  font-family: "Luxurious Roman", cursive;
  font-size: 45px;
  color: lightcoral;
  transition: 1s 0.25s;
  text-shadow: 13px 8px 4px rgba(206, 90, 54, 0.48);
}
.block1:hover .text1 {
  text-shadow: 27px 14px 4px rgba(206, 90, 54, 0.48);
}
/* ---------------- */
/* Второй блок */
.block-property2 {
  margin: 0;
  background-color: palevioletred;
  border: 0px;

  transition: 1s 0.25s;
}
.text {
  background-color: inherit;
}
.block2:hover .block-property2 {
  border: 10px solid;
  border-color: lightseagreen;
  border-radius: 60px 0;
}
/* -------------- */
/* Третий блок */
.block-property3 {
  margin: 0;
  background-color: tomato;
  border: 0px;
  transition: 1s 0.25s;
}
.text3 {
  background-color: inherit;
}
.block3:hover .block-property3 {
  border: 10px solid;
  border-color: blueviolet;
  border-style: inset;
}
/* --------------- */
/* Четвертый блок */

.block-property4 {
  margin: 0;
  background-color: lightcoral;
  border: 10px solid grey;
  outline: 10px solid transparent;
  transition: 1s 0.25s;
}
.text4 {
  background-color: inherit;
}
.block4:hover .block-property4 {
  outline: 10px solid violet;
  outline-offset: 10px;
}
/* ------------- */
/* Пятый блок */
.block-property5 {
  margin: 0;
  background-color: grey;

  transition: 1s 0.25s;
}
.text5 {
  background-color: inherit;
}
.block5:hover .block-property5 {
  width: 600px;
  height: 150px;
  box-shadow: 0px 29px 17px -14px rgba(34, 60, 80, 0.6);
}
/* ---------------- */

/* Открывающийся квадрат */
.square-wrapper {
  position: relative;
}
.square-main {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hi {
  font-size: 40px;
  font-weight: bold;
}
.block {
  width: 200px;
  height: 200px;
}
.red {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s linear;
  transform-origin: top left;
}
.square-wrapper:hover .red {
  transform: rotate(90deg);
}
.yellow {
  background-color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s linear;
  transform-origin: top right;
}
.square-wrapper:hover .yellow {
  transform: rotate(-90deg);
}
.blue {
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 1s linear;
  transform-origin: bottom left;
}

.square-wrapper:hover .blue {
  transform: rotate(-90deg);
}
.green {
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 1s linear;
  transform-origin: bottom right;
}
.square-wrapper:hover .green {
  transform: rotate(90deg);
}

/* ------------ */
